body {
  background: #fff;
  color:#000;
  font-size:.9em;
  padding: 0;
  margin: 0;
}

#login-container {
  width: 100%;
}

#username {
  cursor: auto;
  display: block;
  margin: 48px auto 0 auto;
  width: 18em;
  line-height: 1.8em;
  outline: none;
  border: 1px solid #AAAAAA;
  border-radius: 5px;
  font: 17px arial, sans-serif;
  height: 1.8em;
}

#chat-container {
  margin-top: 48px;
}

#header {
  position: fixed;
  top: 0;
  font-family: 'Josefin Slab', arial, serif;
  font-size: 16pt;
  background: #333;
  color: #fff;
  padding: 4px;
  height: 24px;
  width: 100%;
  min-width: 600px;
}

#current-username {
  display: block;
  float: right;
  text-align: right;
  margin: 0 8px 8px 0;
  color: #DDDDDD;
}

#logout-button {
  float: right;
  margin-right: 10px;
  margin-bottom: 2px;
  opacity: 0.8;
  filter:alpha(opacity=80);
}

#logout-button:hover {
  text-decoration: underline;
  opacity: 1.0;
  filter:alpha(opacity=100);
}

#message-container {
  margin: 0;
  padding: 0 0 6em 0;
  overflow: hidden;
}

#message-input {
  position: fixed;
  bottom: 0;
  margin:0;
  padding: 0 0 0 0.2em;
  border: none;
  border-top: 4px solid #aaa;
  background: #fff;
  z-index: 99;
  min-height: 4.8em;
  width: 100%;
  resize: none;
  height: 1em;
  outline: none;
}

.errors {
  margin: 1em;
  line-height: 1.5em;
  color: #F00;
  background-color: #FAA;
  padding: .25em 1em;
  border: 2px solid #F00;
  display: block;
}

/*------------------------------------------------------------------------------
 * message formatting
 *----------------------------------------------------------------------------*/

/*
#message-container li.system {
  color: #666666;
}
#message-container li.user {
  color: #333333;
}
#message-container li.error {
  color: #FF0000;
}
*/

.message {
  padding: 2px .5%;
  display: block;
  width: 100%;
  float: left;
}

.message-username {
  font-weight: bold;
}
.message-body {
  float: left;
}
.message-timestamp {
  float: left;
  clear: left;
  text-align: right;
  width: 60px;
  padding-right: 8px;
  color: #c7c7c7;
}
.message-body p, code, pre {
  margin: 0 0 10px 0;
}
.message-body li {
  clear: none;
  list-style: circle;
}
