body {
  background:#fff;
  color:#000;
  font-size:.9em;
  padding: 0;
  margin: 0;
}

h1 {
  padding: 0 0 0 .425em;
  margin: 0;
  font-size: 16pt;
  display: inline;
  float: left;
}

#header {
  position: fixed;
  top: 0;
  font-family: 'Josefin Slab', arial, serif;
  font-size: 16pt;
  background: #333;
  color: #fff;
  padding: 4px;
  height: 24px;
  width: 100%;
  min-width: 600px;
}

h1 .subtitle {
  font-size: .5em;
  color: #fefefe;
  padding-left: 1em;
}

#content {
  margin-top: 48px;
}

#intro {
  width: 20em;
  line-height: 1.5em;
  margin: 4em 1em 1em 1em;
}

#login-form {
  font-size: 14pt;
  width: 100%;
  padding: 0;
  margin: 0;
}

#send-form {
  font-size: 14pt;
  width: 100%;
  padding: 0;
  margin: 0;
}

#footer {
  font-size: 14pt;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  border-top: 1px solid black;
  background: #fff;
  z-index: 99;
}

#intro {
  color: #333;
  margin: 4em 1em 1em 1em;
  line-height: 1.5em;
  text-align: justify;
  width: 30em;
}

#whoareyou, #username, #login {
  color: #000000;
  margin: .5em;
  padding: .5em;
}

#whoareyou {
  width: 20em;
  display: block;
  font-weight: bold;
}

#username {
  width: 20em;
  display: block;
  margin-left: 2em;
}

#login-button {
  width: 5em;
  margin-left: 17em;
  display: block;
}

#logout-button {
  float: right;
  margin-right: 10px;
  margin-bottom: 2px;
  opacity: 0.8;
  filter:alpha(opacity=80);
}

#logout-button:link {
  text-decoration: none;
  color: #888888;
}

#logout-button:hover {
  text-decoration: underline;
  opacity: 1.0;
  filter:alpha(opacity=100);
}

#logout-button:visited {
  color: #888888;
}

#current-username {
  display: block;
  float: right;
  text-align: right;
  margin: 0 8px 8px 0;
  color: #DDDDDD;
}

#message-input {
  width: 100%;
  resize: none;
  height: 1em;
  outline: none;
  border: none;
}

#send-button {
  width: 8%;
}

.errors {
  margin: 1em;
  line-height: 1.5em;
  color: #F00;
  background-color: #FAA;
  padding: .25em 1em;
  border: 2px solid #F00;
  display: block;
}

#input_box {
  border: 1px #ccc solid;
  padding: 10px;
  width: 100%;
}

/*------------------------------------------------------------------------------
 * message formatting
 *----------------------------------------------------------------------------*/

#message-container {
  margin: 0;
  padding: 0 0 6em 0;
  overflow: hidden;
}

/*
#message-container li.system {
  color: #666666;
}
#message-container li.user {
  color: #333333;
}
#message-container li.error {
  color: #FF0000;
}
*/

.message {
  padding: 2px .5%;
  display: block;
  width: 100%;
  float: left;
}

.message-username {
  font-weight: bold;
}
.message-body {
  float: left;
  text-align: left;
}
.message-timestamp {
  float: left;
  text-align: right;
  width: 60px;
  padding-right: 8px;
  color: #c7c7c7;
}
.message-body p, code, pre {
  margin: 0 0 10px 0;
}
.message-body li {
  clear: none;
  list-style: circle;
}
