<!DOCTYPE html>
<html>
  <head>
    <title>this is not chatify</title>
    <link rel=stylesheet href="static/css/style.css" />
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript" charset="utf-8"></script>-->
    <script src="static/js/jquery.js"></script>
    <script src="static/js/chat.js"></script>
    <script src="static/js/mustache.js"></script>
    <script id="message-wrapper-template" type="text/plain">
      <div class="message {{`{{msgtype}}`}}">
        <div class="message-username">{{`{{username}}`}}</div>
        <div class="message-body-wrapper most-recent-message">
        </div>
      </div>
    </script>
    <script id="message-body-template" type="text/plain">
      <div class="message-timestamp">{{`{{formattedTime}}`}}</div>
      <div class="message-body">{{`{{{body}}}`}}</div>
    </script>
    <script>
      $(document).ready(function() {
        Chat.buildChatWindow({
          chatElements: "#chat-container",
          messageContainer: "#message-container",
          loginElements: "#login-container",
          loginErrors: "#login-errors",
          logoutButton: "#logout-button",
          usernameField: "#username",
          usernameDisplay: "#current-username",
          composeMessageField: "#message-input",
          chatErrors: "#chat-errors",
          messageWrapperTemplate: $("#message-wrapper-template").html(),
          messageBodyTemplate: $("#message-body-template").html(),
          recentMessageClass: "most-recent-message"
        });

        $("#username").focus();
      });
    </script>
  </head>
  <body>
    <div id="login-container">
      <input id="username" type="text" autocomplete="off"></input>
      <span id="login-errors" class="errors" style="display: none;"></span>
    </div>
    <div id="chat-container" style="display: none;">
      <div id="header">
        <a id="logout-button" href="#"><img src="static/images/logout.png" /></a>
        <span id="current-username" for="message"></span>
      </div>
      <div id="message-container"></div>
      <textarea id="message-input"></textarea>
    </div>
  </body>
</html>
